# Node/Bun dependencies (se instalan dentro del contenedor)
node_modules
.bun

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# Vite/build outputs
dist
.build

# Sistema / IDE / OS
.DS_Store
Thumbs.db
*.swp
*.swo
.idea
.vscode
*.log

# Archivos de entorno locales
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Otros temporales
*.tmp